.container{
  margin-left:21%;
  margin-right:1%;
}
.castle-box {
  margin-left: 0;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom:0;
  background-color: rgba(0,0,0,0.6);
  color: white;
}
.map_box{
  color: black;
}
.map{
  top: 0px;
  left: 0px;
  position:fixed;
  width: 20%;
  height:100%;
  z-index:2;
  margin-top: 106px;
}
.page-title{
  position:absolute;
  background-color: rgba(0,0,0,0.6);
  width:100%;
  top:53px;
  height:53px;
}
.text-field {
  color:black;
}
input {
  color:black;
}

.text-field label {
  color:white;
}

.calendar{
  margin-bottom: 210px;
}

.picture-frame > .img-responsive{
  margin-left: 0 auto;
  margin-right: 0 auto;
  width:100%;
}

.show-bg{
  background: image-url("versailles");
  background-size: cover;
  background-repeat: no-repeat;
}
.edit-bg{
  background: image-url("medieval");
  background-size: cover;
  background-repeat: no-repeat;
}
.add-bg{
  background: image-url("castle2");
  background-size: cover;
  background-repeat: no-repeat;
}
#animated{
  margin-top: 20px;
  background-color: green;
  visibility: hidden;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  color:white;
}

// to split the castle box with calendar
// .picture-frame{
//   width: 50%;
// }



// for creating a flying box
// .popover{
//   width: 60%;
//   margin-left: 30%;
//   margin-top: 20%;
//   position: absolute;
//   z-index: 0
// }

